:root {
	--item-size: 32px;
	--item-offset-x: 0;
	--item-offset-y: 0;
}

.flex-horizontal {
	display: flex;
	gap: 1em;
	justify-content: center;
}

.flex-vertical {
	display: flex;
	flex-direction: column;
	gap: 1em;
	place-items: center;
}

#toolbox {
	display: flex;
	flex-wrap: wrap;
}

#horadricCube {
	display: grid;
	grid-template-columns: repeat(3, max-content);
	grid-template-rows: repeat(4, max-content);
}

#inventory {
	display: grid;
	grid-template-columns: repeat(10, max-content);
	grid-template-rows: repeat(4, max-content);
}

.slot {
	width: var(--item-size);
	height: var(--item-size);
	border: thin solid gray;
}

.slot.highlight {
	background-color: lightgray;
	cursor: copy;
}

.item { 
	height: var(--item-size);
	width: var(--item-size);
	background-image:url('sprites.png'); 
	background-position: calc(var(--item-size) * var(--item-offset-x)) calc(var(--item-size) * var(--item-offset-y));
}

.item[data-item-id=r01] { --item-offset-x: -0; }
.item[data-item-id=r02] { --item-offset-x: -1; }
.item[data-item-id=r03] { --item-offset-x: -2; }
.item[data-item-id=r04] { --item-offset-x: -3; }
.item[data-item-id=r05] { --item-offset-x: -4; }
.item[data-item-id=r06] { --item-offset-x: -5; }
.item[data-item-id=r07] { --item-offset-x: -6; }
.item[data-item-id=r08] { --item-offset-x: -7; }
.item[data-item-id=r09] { --item-offset-x: -8; }
.item[data-item-id=r10] { --item-offset-x: -9; }
.item[data-item-id=r11] { --item-offset-x: -10; }
.item[data-item-id=r12] { --item-offset-x: -11; }
.item[data-item-id=r13] { --item-offset-x: -12; }
.item[data-item-id=r14] { --item-offset-x: -13; }
.item[data-item-id=r15] { --item-offset-x: -14; }
.item[data-item-id=r16] { --item-offset-x: -15; }
.item[data-item-id=r17] { --item-offset-x: -16; }
.item[data-item-id=r18] { --item-offset-x: -17; }
.item[data-item-id=r19] { --item-offset-x: -18; }
.item[data-item-id=r20] { --item-offset-x: -19; }
.item[data-item-id=r21] { --item-offset-x: -20; }
.item[data-item-id=r22] { --item-offset-x: -21; }
.item[data-item-id=r23] { --item-offset-x: -22; }
.item[data-item-id=r24] { --item-offset-x: -23; }
.item[data-item-id=r25] { --item-offset-x: -24; }
.item[data-item-id=r26] { --item-offset-x: -25; }
.item[data-item-id=r27] { --item-offset-x: -26; }
.item[data-item-id=r28] { --item-offset-x: -27; }
.item[data-item-id=r29] { --item-offset-x: -28; }
.item[data-item-id=r30] { --item-offset-x: -29; }
.item[data-item-id=r31] { --item-offset-x: -30; }
.item[data-item-id=r32] { --item-offset-x: -31; }
.item[data-item-id=r33] { --item-offset-x: -32; }

.item[data-item-id=gcv] { --item-offset-x: -0; --item-offset-y: -1; }
.item[data-item-id=gfv] { --item-offset-x: -1; --item-offset-y: -1; }
.item[data-item-id=gsv] { --item-offset-x: -2; --item-offset-y: -1; }
.item[data-item-id=gzv] { --item-offset-x: -3; --item-offset-y: -1; }
.item[data-item-id=gpv] { --item-offset-x: -4; --item-offset-y: -1; }
.item[data-item-id=gcb] { --item-offset-x: -5; --item-offset-y: -1; }
.item[data-item-id=gfb] { --item-offset-x: -6; --item-offset-y: -1; }
.item[data-item-id=gsb] { --item-offset-x: -7; --item-offset-y: -1; }
.item[data-item-id=glb] { --item-offset-x: -8; --item-offset-y: -1; }
.item[data-item-id=gpb] { --item-offset-x: -9; --item-offset-y: -1; }
.item[data-item-id=gcg] { --item-offset-x: -10; --item-offset-y: -1; }
.item[data-item-id=gfg] { --item-offset-x: -11; --item-offset-y: -1; }
.item[data-item-id=gsg] { --item-offset-x: -12; --item-offset-y: -1; }
.item[data-item-id=glg] { --item-offset-x: -13; --item-offset-y: -1; }
.item[data-item-id=gpg] { --item-offset-x: -14; --item-offset-y: -1; }
.item[data-item-id=gcr] { --item-offset-x: -15; --item-offset-y: -1; }
.item[data-item-id=gfr] { --item-offset-x: -16; --item-offset-y: -1; }
.item[data-item-id=gsr] { --item-offset-x: -17; --item-offset-y: -1; }
.item[data-item-id=glr] { --item-offset-x: -18; --item-offset-y: -1; }
.item[data-item-id=gpr] { --item-offset-x: -19; --item-offset-y: -1; }
.item[data-item-id=gcw] { --item-offset-x: -20; --item-offset-y: -1; }
.item[data-item-id=gfw] { --item-offset-x: -21; --item-offset-y: -1; }
.item[data-item-id=gsw] { --item-offset-x: -22; --item-offset-y: -1; }
.item[data-item-id=glw] { --item-offset-x: -23; --item-offset-y: -1; }
.item[data-item-id=gpw] { --item-offset-x: -24; --item-offset-y: -1; }
.item[data-item-id=gcy] { --item-offset-x: -25; --item-offset-y: -1; }
.item[data-item-id=gfy] { --item-offset-x: -26; --item-offset-y: -1; }
.item[data-item-id=gsy] { --item-offset-x: -27; --item-offset-y: -1; }
.item[data-item-id=gly] { --item-offset-x: -28; --item-offset-y: -1; }
.item[data-item-id=gpy] { --item-offset-x: -29; --item-offset-y: -1; }
